<html>
<head><title> Invitation to bucktownacademy.schooltalknow.com </title> </head>
<body>
  <p>Hello, <%= host %> has invited you to sign up for bucktownacademy.schooltalknow.com. Once you sign up, you'll be able to: </p>
  <ul>
	<li>Send attendance, tardy,early dismissal, before and after school notes from your mobile device. No more phone calls or paper notes! </li>
	<li>View updates from the school and your children's teachers in one consolidated view</li>
	<li>Easily find contact information for anyone in your school community and call/email them with a simple tap on your phone</li>
	</ul>
	<p> You can sign up <a href="http://<%=app_url %>?token=<%= token %>&schoolId=<%= schoolId %>&student_id=<%= studentId %>"> here </a>  </p>
	<p> Please share anything you love, hate, would like to see changed/added to the Bucktown Academy Portal website here. We would love to hear from you! </p>
</body>
</html>